[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.12.2"
Django = "==3.1.4"
django-cors-headers = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
